.footer {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  pointer-events: none;

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 8px;
    transform: scale(1.0);
    transition: transform 0.3s var(--ease-out-bounce);
    pointer-events: auto;

    &:hover {
      transform: scale(1.5);
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    color: #000000; // This will make the icons black
  }
}